<div class="phone-wrapper">
  <svg-icon class="phone-frame" src="assets/icons/phone-frame.svg"> </svg-icon>
  <div class="placeholder-wrapper">
    <img
      *ngIf="user?.photo"
      [src]="user.photo"
      class="placeholder-image"
      alt="User Photo"
    />
    <div *ngIf="!user?.photo" class="placeholder-image"></div>

    <div *ngIf="user?.firstName && user?.lastName" class="user-name">
      {{ user.firstName + " " + user.lastName }}
    </div>
    <div
      *ngIf="!user?.firstName && !user?.lastName"
      class="placeholder-name"
    ></div>

    <div *ngIf="!user?.email" class="placeholder-email"></div>
    <div *ngIf="user?.email" class="user-email">{{ user.email }}</div>

    <div *ngIf="links?.length !== 0">
      <div *ngFor="let link of links | slice : 0 : 5">
        <a
          class="link-item"
          [ngStyle]="{ 'background-color': getColor(link.platform) }"
          [href]="link.link"
        >
          <svg-icon class="link-icon" [src]="link.icon"></svg-icon>
          <span>{{ link.platform }}</span>
        </a>
      </div>
    </div>
    <div *ngIf="links === null || links?.length === 0">
      <div *ngFor="let link of placeholderLinks">
        <div class="placeholder-link"></div>
      </div>
    </div>
  </div>
</div>
